<div class="wrapper">
    <div class="content-wrapper">
      <section class="content">
        <div class="container-fluid">
          <section class="content-header mb-5">
            <div class="container-fluid">
              <div class="row mb-2">
                  <div class="col-sm-7 row">
                      <h1>Sistema de Votação</h1>
                  </div>
              </div>
            </div>
          </section>
  
          <div class="container-fluid">
            <div class="row mb-5">
              <div class="col-12" style="text-align: center;">
                <button type="button" class="btn btn-lg btn-success" style="margin-left: 4rem;" routerLink="/criar-votacao">Criar votações</button>
              </div>
            </div>

            <div class="row">
              <div class="col-12" style="text-align: center;">
                <button type="button" class="btn btn-lg btn-primary" style="margin-right: 5rem;" routerLink="/votacao-iniciar">Votações Aguardando Inicio</button>
                <button type="button" class="btn btn-lg btn-info" routerLink="/votacao-andamento">Votações em Andamento</button>
                <button type="button" class="btn btn-lg btn-warning" style="margin-left: 5rem;" routerLink="/votacao-finalizada" >Votações Finalizadas</button>
              </div>
            </div>
          </div>
  
        </div>
      </section>
    </div>
  </div>